<div class='body d-flex flex-column h-100'>
  <nav class="navigation navbar navbar-expand-lg navbar-light bg-light flex-grow-0 flex-shrink-0">
    <a class="navbar-brand" href="https://github.com/kendallowilliams/KOWmyLk" target="_blank">
      <img src='../assets/images/logo.png' class='' title="KOWmyLk" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/portfolio']" href="#">Portfolio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/about']" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="d-flex flex-column flex-grow-1 flex-shrink-1">
    <hr />
    <div class="content d-flex flex-grow-1 flex-shrink-1 align-self-center">
      <router-outlet></router-outlet>
    </div>
    <hr />
  </main>
  <div class="footer text-center d-flex justify-content-center flex-grow-0 flex-shrink-0">&copy; {{ today | date: 'yyyy' }} Kendall O. Williams</div>
</div>
